html {
    position: relative;
    min-height: 100%;
}

body{
	background-image: url("../images/paper.jpg");
	margin-bottom: 50px;
}

button {
	text-align: left;
	padding-left: 3%;
}

h1 {
	font-family: 'Schoolbell', cursive;
	text-shadow: 2px 2px 4px #ccc;
	font-weight: bold;
}

#story-div {
	display: flex;
	flex-direction: row-reverse;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: flex-start;
	align-content: center;
	margin: 3% 0;
}

.choice {
	clear: both;
	margin: 3% 10%;
	color: white;
	background-color: #8080ff;
}

.choice:hover {
	background-color: #ff33bb;
	color: white;
}

#wait-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}

#brand{
	font-family: 'Josefin Sans', sans-serif;
	color: purple;
	background-color: #00ff00;
	font-size: 15px;
}

#navbar{
	position: relative;
	background-image: url("../images/rainbow.jpg");
	color: white;
}

.title{
	text-align: center;
	font-family: 'Schoolbell', cursive;
	font-size: 50px;
	color: #8080ff;
	text-shadow: 2px 2px #ff66ff;
}

.navbar-brand {
	padding: 0;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: stretch;
	align-content: stretch;
}

#navbrand{
	color: white;
	font-family: 'Schoolbell', cursive;
	font-size: 30px;
	text-shadow: 2px 2px #1a8cff;
}

#navbottom {
	position: absolute;
	width: 100%;
	height: 50px;
	bottom: 0;
	left: 0;
	margin-top: 15px;
	margin-bottom: 0px;
}

#facebook{
	height: 47px;
	width: 47px;
	float: right;
	margin-right: 70%;
	border-right-style: solid;
}

#github {
	height: 50px;
	width: 50px;
	float: right;
	margin-right: 70%;
}

#purpletree{
	width: 50px;
	height: 50px;
	text-align: right;
}

#title{
	font-family: 'Schoolbell', cursive;
	color: purple;
	text-align: center;
}

#studio{
	font-size: 20px;
	text-align: center;
}

.main-area {
	margin: 3% 10%;
	min-height: 100%;
}

#story1{
	height: 170px;
	width: 100%;
	outline: none;
	background-image: url("../images/monster.png");
	background-size: cover;
	background-repeat: no-repeat;	
	border-radius: 25px;
	margin-bottom: 1%;
}

.story-title {
	text-decoration: none;
	font-family: 'Schoolbell', cursive;
	color: #99004d;
	text-shadow: 2px 2px yellow;
	font-size: 45px;
	font-weight:bold;
}

.story-title:hover {
	text-decoration: none;
}

#story2{
	height: 170px;
	width: 100%;
	outline: none;
	background-image: url("../images/earth.png");
	background-size: cover;
	background-repeat: no-repeat;	
	border-radius: 25px;
	margin-bottom: 1%;
}

#story2title{
	font-family: 'Schoolbell', cursive;
	text-shadow: 2px 2px #1a8cff;
	color: white;
	font-size: 45px;
	margin-top: .5%;
	padding-top: 60px;
	padding-right: 50px;
	text-align: right;
}

#story3{
	height: 170px;
	width: 100%;
	outline: none;
	background-image: url("../images/beach.png");
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 25px;
	margin-bottom: 1%;
}

#story3title{
	font-family: 'Schoolbell', cursive;
	color: #000000;
	margin-top: .5%;
	text-shadow: 2px 2px white;
	color: black;
	font-size: 45px;
	padding-top: 60px;
	padding-left: 50px;
}

#story4{
	height: 170px;
	width: 100%;
	outline: none;
	background-image: url("../images/house.png");
	background-size: cover;
	background-repeat: no-repeat;
	margin: 5px;
	border-radius: 25px;
	margin-bottom: 1%;
}

#story4title{
	font-family: 'Schoolbell', cursive;
	margin-top: .5%;
	color: red;
	font-size: 45px;
	text-shadow: 2px 2px white;
	padding-top: 60px;
	padding-right: 50px;
	text-align: right;
}

#image{
	padding-top: 50px;
	width: 500px;
	height: 500px;
	border-radius: 25px;
}


#paragraph{
	font-family: 'Fredericka the Great', cursive;
}

#text{
	margin-top: 5%;
	margin-right: 20%;
	font-family: 'Schoolbell', cursive;
	font-size: 25px;
	font-weight: bold;
}

.text {
	padding-left: 5%;
	width: 65%;
	font-size: medium;
}

.gif {
	width: 40%;
	height: auto;
}